In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Q1
driver= webdriver.Chrome(r'C:\Users\sofiy\Downloads\chromedriver_win32 (1)\chromedriver.exe') #chromedriver path,i.e where the drives are stored the path is to be provided

In [3]:
url='https://www.naukri.com/' #url from where the data is to be scrapped is given here
driver.get(url) # it will get the data from the url link provided

In [4]:
search_job=driver.find_element("xpath",'//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input') #xpath for search bar where the user inputs his/her preference, xpath is to be provided.
search_job

In [5]:
search_job.send_keys("Data Analyst")# the job title that needs to be searched for must be given here.

In [6]:
search_locn= driver.find_element('xpath','//*[@id="root"]/div[2]/div[3]/div/div/div[5]/div/div/div/input')#xpath for location is provided.
search_locn

In [7]:
search_locn.send_keys("Bangalore")# search bar input, i.e the user preference is to be provided.

In [8]:
search_btn= driver.find_element('xpath','/html/body/div[1]/div[2]/div[3]/div/div/div[6]') #the search button xpath goes here as input.
search_btn

In [9]:
search_btn.click() #this ensures that search button is clicked.

In [10]:
title_t=driver.find_elements('xpath','//a[@class="title fw500 ellipsis"]') #to scrap titles. Provide xpath of the titles.
len(title_t)

20

In [11]:
Profile_t=[]  # creating an empty list, data will be stored in here.
for i in title_t: # for loop to scrap all the job_titles.
    Profile_t.append(i.text) 
    if len(Profile_t)==10:
        break
len(Profile_t)

10

In [12]:
Profile_t

['Senior Data Analyst',
 'Data Analyst/Sr. Data Analyst',
 'Sr.Business Data Analyst',
 'Sr . Data Analyst',
 'Business Data Analyst (Sr Exe / Asst Manager)',
 'Principal Data Analyst',
 'Hiring Data Analyst - Forensics, KPMG India',
 'Data Analyst / Product Analyst / Business Analyst',
 'Data Analyst',
 'Data Analyst I']

In [13]:
locn_t=driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_t)

20

In [14]:
location_t=[]
for i in locn_t:
    location_t.append(i.text)
    if len(location_t)==10:
        break
len(location_t)

10

In [15]:
location_t

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
exper_t=driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exper_t)

20

In [17]:
experience_t=[]
for i in exper_t:
    experience_t.append(i.text)
    if len(experience_t)==10:
        break
len(experience_t)

10

In [18]:
experience_t

['2-3 Yrs',
 '3-8 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '5-7 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs']

In [19]:
comp_name=driver.find_elements('xpath','//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

20

In [20]:
company_t=[]
for i in comp_name:
    company_t.append(i.text)
    if len(company_t)==10:
        break
len(company_t)

10

In [21]:
company_t

['ANZ',
 'Brillio',
 'Collabera',
 'cloudneeti',
 'Talent Leads HR Solutions Pvt Ltd',
 'SVB Global Services India LLP',
 'KPMG India',
 'Benchire',
 'Brillio',
 'Cerner']

In [22]:
job=pd.DataFrame()
job['Job Title']= Profile_t
job['Company']=company_t
job['Experience']=experience_t
job['Location']=location_t
job

,Job Title,Company,Experience,Location
0,Senior Data Analyst,ANZ,2-3 Yrs,Bangalore/Bengaluru
1,Data Analyst/Sr. Data Analyst,Brillio,3-8 Yrs,Bangalore/Bengaluru
2,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
3,Sr . Data Analyst,cloudneeti,3-8 Yrs,Bangalore/Bengaluru
4,Business Data Analyst (Sr Exe / Asst Manager),Talent Leads HR Solutions Pvt Ltd,3-6 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
5,Principal Data Analyst,SVB Global Services India LLP,5-7 Yrs,Bangalore/Bengaluru
6,"Hiring Data Analyst - Forensics, KPMG India",KPMG India,2-6 Yrs,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, G..."
7,Data Analyst / Product Analyst / Business Analyst,Benchire,2-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
8,Data Analyst,Brillio,4-7 Yrs,Bangalore/Bengaluru
9,Data Analyst I,Cerner,5-10 Yrs,Bangalore/Bengaluru

In [ ]:
#Q2 #Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
#    have to scrape the job-title, job-location, company_name

In [25]:
driver= webdriver.Chrome(r'C:\Users\sofiy\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [26]:
url='https://www.naukri.com/'
driver.get(url)

In [27]:
search_job=driver.find_element("xpath", '//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [28]:
search_job.send_keys("Data Scientist")

In [29]:
search_locn= driver.find_element('xpath','//*[@id="root"]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [30]:
search_locn.send_keys("Bangalore")

In [31]:
search_btn= driver.find_element('xpath','/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [32]:
search_btn.click()

In [33]:
title_t=driver.find_elements('xpath','//a[@class="title fw500 ellipsis"]')
len(title_t)

20

In [34]:
job_t=[]
for i in title_t:
    job_t.append(i.text)
    if len(job_t)==10:
        break
    
len(job_t)

10

In [35]:
job_t

['Data Science Senior Analyst',
 'Data Scientist - II',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Sr Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [36]:
locn_t=driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_t)

20

In [37]:
loc_t=[]
for i in locn_t:
    loc_t.append(i.text)
    if len(loc_t)==10:
        break
    
len(loc_t)

10

In [38]:
loc_t

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [39]:
comp_t=driver.find_elements('xpath','//a[@class="subTitle ellipsis fleft"]')
len(comp_t)

20

In [40]:
company_t=[]
for i in comp_t:
    company_t.append(i.text)
    if len(company_t)==10:
        break
    
len(company_t)

10

In [41]:
company_t

['Accenture',
 'SMARTPADDLE TECHNOLOGY PVT. LTD.',
 'Wipro',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Applied Materials',
 'Caterpillar Inc',
 'Applied Materials',
 'Applied Materials']

In [42]:
job_details=pd.DataFrame()
job_details['Job Title']= job_t
job_details['Location']=loc_t
job_details['Company']=company_t
job_details

,Job Title,Location,Company
0,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.
2,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data Scientist,Bangalore/Bengaluru,Applied Materials
5,Data Scientist,Bangalore/Bengaluru,Applied Materials
6,Data Scientist,Bangalore/Bengaluru,Applied Materials
7,Sr Data Scientist,Bangalore/Bengaluru,Caterpillar Inc
8,Data Scientist,Bangalore/Bengaluru,Applied Materials
9,Data Scientist,Bangalore/Bengaluru,Applied Materials

In [43]:
#Q3
driver= webdriver.Chrome(r'C:\Users\sofiy\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [44]:
url='https://www.naukri.com/'
driver.get(url)

In [45]:
search_jobtab=driver.find_element("xpath", '//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_jobtab

In [46]:
search_jobtab.send_keys("Data Scientist")

In [47]:
search_btn= driver.find_element('xpath','/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [48]:
search_btn.click()

In [50]:
location_filter=driver.find_element('xpath','/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
location_filter

In [51]:
location_filter.click()

In [54]:
salary_filter=driver.find_element('xpath','/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary_filter

In [55]:
salary_filter.click()

In [56]:
title_t=driver.find_elements('xpath','//a[@class="title fw500 ellipsis"]')
len(title_t)

20

In [57]:
job_t=[]
for i in title_t:
    job_t.append(i.text)
    if len(job_t)==10:
        break
    
job_t

['Data Scientist - Noida/Bangalore',
 'DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Engine Algorithm',
 'Data Science Associate',
 'Data Scientist',
 'Data Scientist']

In [58]:
comp_t=driver.find_elements('xpath','//a[@class="subTitle ellipsis fleft"]')
len(comp_t)

20

In [59]:
company_t=[]
for i in comp_t:
    company_t.append(i.text)
    if len(company_t)==10:
        break
    
company_t

['EXL',
 'Boston Consulting Group',
 'Black Turtle',
 'SECUREKLOUD TECHNOLOGIES',
 'SECUREKLOUD TECHNOLOGIES',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Primo Hiring',
 'Kreate Energy',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited']

In [60]:
experience_t=driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_t)

20

In [61]:
exper_t=[]
for i in experience_t:
    exper_t.append(i.text)
    if len(exper_t)==10:
        break
    
exper_t

['5-10 Yrs',
 '2-5 Yrs',
 '4-7 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '2-4 Yrs']

In [62]:
locn_t=driver.find_elements('xpath','//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_t)

20

In [63]:
location_t=[]
for i in locn_t:
    location_t.append(i.text)
    if len(location_t)==10:
        break
    
location_t

['Noida, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Noida',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR(Vaishali)',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru']

In [64]:
job=pd.DataFrame()
job['Job Title']= job_t
job['Company']=company_t
job['Experience']=exper_t
job['Location']=location_t
job

,Job Title,Company,Experience,Location
0,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Senior Associate - Data Science,Black Turtle,4-7 Yrs,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr..."
3,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
4,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
6,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
7,Data Science Associate,Kreate Energy,2-4 Yrs,Delhi / NCR(Vaishali)
8,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"
9,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"

In [65]:
#Q4
driver= webdriver.Chrome(r'C:\Users\sofiy\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [66]:
url='https://www.flipkart.com/'
driver.get(url)

In [67]:
search_bar=driver.find_element("xpath", '//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar

In [68]:
search_bar.send_keys("sunglasses")

In [71]:
search_btn= driver.find_element('xpath','/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [72]:
search_btn.click()

In [73]:
brand_n=driver.find_elements('xpath','//div[@class="_2WkVRV"]')
len(brand_n)

40

In [74]:
brand=[]
for i in brand_n:
    brand.append(i.text)
    if len(brand)==100:
        break
    
brand

['VINCENT CHASE',
 'VINCENT CHASE',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Elligator',
 'SUNBEE',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'NuVew',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'Rich Club',
 'PIRASO',
 'DEIXELS',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'CRYSTAL CART',
 'HAMIW COLLECTION',
 'VINCENT CHASE',
 'Fastrack',
 'CRYSTAL CART',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'Lee Topper',
 'Sewell',
 'VINCENT CHASE']

In [75]:
descript=driver.find_elements('xpath','//a[@class="IRpwTa"]')
len(descript)

40

In [76]:
descriptn=[]
for i in descript:
    descriptn.append(i.text)
    if len(descriptn)==100:
        break
    
descriptn

['Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (52)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (52)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...']

In [77]:
price_t=driver.find_elements('xpath','//div[@class="_30jeq3"]') 
len(price_t)

40

In [78]:
price=[]
for i in price_t:
    price.append(i.text)
    if len(price)==100:
        break
    
price

['₹949',
 '₹949',
 '₹189',
 '₹799',
 '₹265',
 '₹359',
 '₹639',
 '₹849',
 '₹349',
 '₹298',
 '₹268',
 '₹749',
 '₹499',
 '₹719',
 '₹246',
 '₹749',
 '₹249',
 '₹306',
 '₹249',
 '₹749',
 '₹291',
 '₹639',
 '₹265',
 '₹949',
 '₹265',
 '₹226',
 '₹236',
 '₹749',
 '₹185',
 '₹189',
 '₹179',
 '₹999',
 '₹1,039',
 '₹529',
 '₹399',
 '₹649',
 '₹719',
 '₹299',
 '₹265',
 '₹949']

In [79]:
sunglasses=pd.DataFrame()
sunglasses['Product']= brand
sunglasses['Product Description']=descriptn
sunglasses['Price']=price
sunglasses

,Product,Product Description,Price
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹949
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹189
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265
5,PIRASO,UV Protection Aviator Sunglasses (58),₹359
6,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹849
8,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349
9,Elligator,UV Protection Round Sunglasses (54),₹298
10,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹268
11,VINCENT CHASE,by Lenskart UV Protection Rectangular Sunglass...,₹749
12,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499
13,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719
14,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹246
15,VINCENT CHASE,UV Protection Wayfarer Sunglasses (55),₹749
16,PIRASO,UV Protection Aviator Sunglasses (54),₹249
17,PIRASO,UV Protection Retro Square Sunglasses (52),₹306
18,PIRASO,UV Protection Aviator Sunglasses (54),₹249
19,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749
20,NuVew,UV Protection Sports Sunglasses (62),₹291
21,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639
22,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹265
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949
24,Rich Club,UV Protection Retro Square Sunglasses (54),₹265
25,PIRASO,UV Protection Wayfarer Sunglasses (32),₹226
26,DEIXELS,UV Protection Aviator Sunglasses (Free Size),₹236
27,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749
28,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹185
29,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹189
30,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹179
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹999
32,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039"
33,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient R...",₹529
34,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹399
35,VINCENT CHASE,UV Protection Rectangular Sunglasses (52),₹649
36,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719
37,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹299
38,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹265
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949

In [80]:
next_btn= driver.find_element('xpath','/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn

In [81]:
next_btn.click()

In [82]:
brand_n=driver.find_elements('xpath','//div[@class="_2WkVRV"]')
len(brand_n)

40

In [83]:
brand=[]
for i in brand_n:
    brand.append(i.text)
    if len(brand)==100:
        break
    
brand

['SRPM',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'IZAAN MART',
 'VINCENT CHASE',
 'Lee Topper',
 'VINCENT CHASE',
 'Mi',
 'VINCENT CHASE',
 'kingsunglasses',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'ROYAL SON',
 'SRPM',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'New Specs',
 'SUNBEE',
 'NuVew',
 'Fastrack',
 'hipe',
 'kingsunglasses',
 'elegante',
 'Urbanic',
 'Elligator',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'ROYAL SON',
 'ROYAL SON',
 'Roadster']

In [84]:
descript=driver.find_elements('xpath','//a[@class="IRpwTa"]')
len(descript)

40

In [85]:
descriptn=[]
for i in descript:
    descriptn.append(i.text)
    if len(descriptn)==100:
        break
    
descriptn

['UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'Polarized Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, Gradient, UV Protection, Mirrored Over-sized...',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Gradient, Riding Glasses Round Sunglasses (55...',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Others Aviator Sunglasses (Free Size)']

In [86]:
price_t=driver.find_elements('xpath','//div[@class="_30jeq3"]') 
len(price_t)

40

In [87]:
price=[]
for i in price_t:
    price.append(i.text)
    if len(price)==100:
        break
    
price

['₹211',
 '₹319',
 '₹529',
 '₹849',
 '₹246',
 '₹759',
 '₹290',
 '₹749',
 '₹219',
 '₹849',
 '₹949',
 '₹749',
 '₹269',
 '₹214',
 '₹399',
 '₹249',
 '₹949',
 '₹719',
 '₹749',
 '₹429',
 '₹379',
 '₹233',
 '₹381',
 '₹649',
 '₹949',
 '₹299',
 '₹268',
 '₹176',
 '₹899',
 '₹210',
 '₹269',
 '₹499',
 '₹524',
 '₹207',
 '₹213',
 '₹339',
 '₹179',
 '₹699',
 '₹664',
 '₹449']

In [88]:
sunglasses=pd.DataFrame()
sunglasses['Product']= brand
sunglasses['Product Description']=descriptn
sunglasses['Price']=price
sunglasses

           Product                                Product Description Price
0             SRPM             UV Protection Wayfarer Sunglasses (50)  ₹211
1   ROZZETTA CRAFT   UV Protection Rectangular Sunglasses (Free Size)  ₹319
2     CRYSTAL CART  Polarized, UV Protection, Mirrored, Gradient R...  ₹529
3    VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...  ₹849
4           PIRASO              UV Protection Aviator Sunglasses (54)  ₹246
5         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
6       IZAAN MART          UV Protection Rectangular Sunglasses (55)  ₹290
7    VINCENT CHASE  by Lenskart UV Protection Rectangular Sunglass...  ₹749
8       Lee Topper   UV Protection Rectangular Sunglasses (Free Size)  ₹219
9    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)  ₹849
10              Mi           Polarized Aviator Sunglasses (Free Size)  ₹949
11   VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹749
12  kingsunglasses  Mirrored, UV Protection Wayfarer Sunglasses (F...  ₹269
13  kingsunglasses                UV Protection Round Sunglasses (54)  ₹214
14  ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹399
15    CRYSTAL CART  Polarized, Gradient, UV Protection, Mirrored O...  ₹249
16   VINCENT CHASE  Polarized, UV Protection Rectangular Sunglasse...  ₹949
17        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹719
18   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹749
19    CRYSTAL CART  UV Protection, Gradient Round Sunglasses (Free...  ₹429
20       ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹379
21            SRPM  Night Vision, UV Protection Round Sunglasses (54)  ₹233
22  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹381
23   VINCENT CHASE          UV Protection Rectangular Sunglasses (50)  ₹649
24   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹949
25       New Specs  Mirrored, UV Protection, Riding Glasses, Other...  ₹299
26          SUNBEE  UV Protection, Polarized, Mirrored Wayfarer Su...  ₹268
27           NuVew              UV Protection Aviator Sunglasses (57)  ₹176
28        Fastrack  Mirrored, UV Protection Wayfarer Sunglasses (F...  ₹899
29            hipe  Mirrored, Gradient, Riding Glasses Round Sungl...  ₹210
30  kingsunglasses  UV Protection, Mirrored Aviator Sunglasses (Fr...  ₹269
31        elegante  Polarized, Riding Glasses, Night Vision Sports...  ₹499
32         Urbanic                 Others Oval Sunglasses (Free Size)  ₹524
33       Elligator                UV Protection Round Sunglasses (53)  ₹207
34  kingsunglasses  UV Protection, Riding Glasses, Mirrored Wayfar...  ₹213
35  ROZZETTA CRAFT     UV Protection Spectacle Sunglasses (Free Size)  ₹339
36      LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...  ₹179
37       ROYAL SON  UV Protection, Gradient Butterfly Sunglasses (62)  ₹699
38       ROYAL SON  Polarized, UV Protection Wayfarer, Retro Squar...  ₹664
39        Roadster              Others Aviator Sunglasses (Free Size)  ₹449

In [89]:
next_btn= driver.find_element('xpath','/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_btn

In [90]:
next_btn.click()

In [91]:
brand_n=driver.find_elements('xpath','//div[@class="_2WkVRV"]')
len(brand_n)

40

In [92]:
brand=[]
for i in brand_n:
    brand.append(i.text)
    if len(brand)==20:
        break
    
brand

['Fastrack',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'kingsunglasses',
 'HAMIW COLLECTION',
 'VINCENT CHASE',
 'PIRASO',
 'kingsunglasses',
 'Silver Kartz',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'PHENOMENAL',
 'elegante',
 'Lee Topper',
 'Rich Club',
 'VINCENT CHASE',
 'VINCENT CHASE']

In [93]:
descript=driver.find_elements('xpath','//a[@class="IRpwTa"]')
len(descript)

40

In [94]:
descriptn=[]
for i in descript:
    descriptn.append(i.text)
    if len(descriptn)==20:
        break
    
descriptn

['UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Over-sized Sunglasses (65)',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized Round Sunglasses (50)',
 'by Lenskart UV Protection Round Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (52)']

In [95]:
price_t=driver.find_elements('xpath','//div[@class="_30jeq3"]') 
len(price_t)

40

In [96]:
price=[]
for i in price_t:
    price.append(i.text)
    if len(price)==20:
        break
    
price

['₹607',
 '₹307',
 '₹246',
 '₹949',
 '₹759',
 '₹189',
 '₹179',
 '₹899',
 '₹419',
 '₹289',
 '₹288',
 '₹616',
 '₹379',
 '₹749',
 '₹267',
 '₹499',
 '₹245',
 '₹375',
 '₹949',
 '₹649']

In [97]:
sunglasses=pd.DataFrame()
sunglasses['Brand']= brand
sunglasses['Product Description']=descriptn
sunglasses['Price']=price
sunglasses

                Brand                                Product Description Price
0            Fastrack             UV Protection Wayfarer Sunglasses (55)  ₹607
1   SHAAH COLLECTIONS         UV Protection Round Sunglasses (Free Size)  ₹307
2              PIRASO              UV Protection Aviator Sunglasses (55)  ₹246
3       VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...  ₹949
4            Fastrack       UV Protection Aviator Sunglasses (Free Size)  ₹759
5      kingsunglasses          UV Protection Rectangular Sunglasses (55)  ₹189
6    HAMIW COLLECTION  UV Protection Wayfarer, Sports, Shield, Rectan...  ₹179
7       VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹899
8              PIRASO           UV Protection Over-sized Sunglasses (65)  ₹419
9      kingsunglasses  Mirrored, UV Protection Wayfarer, Rectangular ...  ₹289
10       Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)  ₹288
11          ROYAL SON  Polarized, UV Protection Retro Square Sunglass...  ₹616
12          ROYAL SON            Mirrored Aviator Sunglasses (Free Size)  ₹379
13      VINCENT CHASE  by Lenskart UV Protection Wayfarer Sunglasses ...  ₹749
14         PHENOMENAL         UV Protection Retro Square Sunglasses (53)  ₹267
15           elegante  Polarized, Riding Glasses, Night Vision Sports...  ₹499
16         Lee Topper         UV Protection Round Sunglasses (Free Size)  ₹245
17          Rich Club     UV Protection, Polarized Round Sunglasses (50)  ₹375
18      VINCENT CHASE    by Lenskart UV Protection Round Sunglasses (58)  ₹949
19      VINCENT CHASE          UV Protection Rectangular Sunglasses (52)  ₹649

In [98]:
#Q5
driver= webdriver.Chrome(r'C:\Users\sofiy\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [99]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver.get(url)

In [100]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

10

In [101]:
rating=[]
for i in mob_rating:
    rating.append(i.text.split())
    if len(rating)==10:
        break
    
rating

[['5'], ['5'], ['5'], ['5'], ['5'], ['5'], ['5'], ['5'], ['4'], ['5']]

In [102]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [103]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==10:
        break
    
review

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended']

In [104]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [105]:
full_review=[]
for i in mob_fullreview:
    full_review.append(i.text)
    if len(full_review)==10:
        break
    
full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !']

In [106]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']= review
mob['Full Review']=full_review
mob

,Rating,Review Summary,Full Review
0,[5],Simply awesome,Really satisfied with the Product I received.....
1,[5],Perfect product!,Amazing phone with great cameras and better ba...
2,[5],Best in the market!,Great iPhone very snappy experience as apple k...
3,[5],Highly recommended,What a camera .....just awesome ..you can feel...
4,[5],Worth every penny,Previously I was using one plus 3t it was a gr...
5,[5],Fabulous!,This is my first iOS phone. I am very happy wi...
6,[5],Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,[5],Worth every penny,"i11 is worthy to buy, too much happy with the ..."
8,[4],Good choice,So far it’s been an AMAZING experience coming ...
9,[5],Highly recommended,iphone 11 is a very good phone to buy only if ...

In [107]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_btn

In [108]:
next_btn.click()

In [109]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

10

In [110]:
rating=[]
for i in mob_rating:
    rating.append(i.text)
    if len(rating)==10:
        break
    
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [111]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [112]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==10:
        break
    
review

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Perfect product!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Simply awesome']

In [113]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [114]:
full_review=[]
for i in mob_fullreview:
    full_review.append(i.text)
    if len(full_review)==10:
        break
    
full_review

["It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Really worth of money. i just love it. It is the best phone ever.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE']

In [115]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']= review
mob['Full Review']=full_review
mob

,Rating,Review Summary,Full Review
0,5,Highly recommended,It's my first time to use iOS phone and I am l...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
4,5,Perfect product!,It is just awesome mobile for this price from ...
5,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
6,5,Terrific,Really worth of money. i just love it. It is t...
7,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
8,5,Wonderful,This is my first ever I phone. Before this I w...
9,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."

In [116]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [117]:
next_btn.click()

In [118]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

10

In [119]:
rating=[]
for i in mob_rating:
    rating.append(i.text)
    if len(rating)==10:
        break
    
rating

['5', '5', '4', '5', '4', '5', '5', '5', '5', '5']

In [120]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [121]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==10:
        break
    
review

['Classy product',
 'Worth every penny',
 'Good choice',
 'Classy product',
 'Nice product',
 'Perfect product!',
 'Must buy!',
 'Brilliant',
 'Classy product',
 'Must buy!']

In [122]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [123]:
full_review=[] # if len(full_review)==10:
        
    
for i in mob_fullreview:
    full_review.append(i.text)
full_review

['Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.\n\nBought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!\n\nThe phone is great and does excellent RAM management like any other Apple device.\n\nThe screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re...\nREAD MORE',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE']

In [124]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']= review
mob['Full Review']=full_review
mob

  Rating     Review Summary                                        Full Review
0      5     Classy product  Totally in love with this ❤ the camera quality...
1      5  Worth every penny  It’s been almost a month since I have been usi...
2      4        Good choice  Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
3      5     Classy product  We are on apple ecosystem for almost eight yea...
4      4       Nice product  Awesome Phone. Slightly high price but worth. ...
5      5   Perfect product!  Battery backup is extraordinary, camera is dec...
6      5          Must buy!  Best Apple iPhone that i have bought at a very...
7      5          Brilliant  I have migrated from OP 7pro... and trust me, ...
8      5     Classy product  Superb Product !!!\nA big and worthy upgrade f...
9      5          Must buy!  It’s an amazing product from apple and the cam...

In [125]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [126]:
next_btn.click()

In [127]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

10

In [128]:
rating=[]
for i in mob_rating:
    rating.append(i.text)
    if len(rating)==10:
        break
    
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [129]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [130]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==10:
        break
    
review

['Great product',
 'Perfect product!',
 'Fabulous!',
 'Wonderful',
 'Simply awesome',
 'Fabulous!',
 'Classy product',
 'Terrific purchase',
 'Awesome',
 'Excellent']

In [131]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [132]:
full_review=[] # if len(full_review)==10:
        
    
for i in mob_fullreview:
    full_review.append(i.text)
full_review

["Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this']

In [133]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']= review
mob['Full Review']=full_review
mob

  Rating     Review Summary                                        Full Review
0      5      Great product  Again back to apple iphone after a gap of 2-3 ...
1      5   Perfect product!  After 1 month use I found camera quality best ...
2      5          Fabulous!  awesome phone to have. it has got many smart f...
3      5          Wonderful  I just directly switch from iphone 6s to iphon...
4      5     Simply awesome  It's very high performances devise i am like t...
5      5          Fabulous!  I can say I'm damn impressed with iPhone 11. A...
6      5     Classy product  Well while switching from android to iOS the f...
7      5  Terrific purchase  Upgraded from iphone 6 to 11 best phone for ip...
8      5            Awesome  I am using this phone for 5 days and its one o...
9      5          Excellent  Amazing camera and feel super machine I am not...

In [134]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [135]:
next_btn.click()

In [136]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

9

In [137]:
rating=[]
for i in mob_rating:
    rating.append(i.text)

    if len(rating)==10:
        break
    
rating

['5', '5', '5', '5', '4', '5', '5', '5', '5']

In [138]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [139]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==9:
        break
    
review

['Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Perfect product!',
 'Fabulous!',
 'Highly recommended']

In [140]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [141]:
full_review=[] # if len(full_review)==10:
        
    
for i in mob_fullreview:
    full_review.append(i.text)
    if len(full_review)==9:
        break
full_review

['Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri...\nREAD MORE',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face...\nREAD MORE',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE']

In [142]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']=review
mob['Full Review']=full_review
mob

,Rating,Review Summary,Full Review
0,5,Great product,Well you all know the specifications . One of ...
1,5,Terrific purchase,The built quality is not very premium.\nThe ba...
2,5,Mind-blowing purchase,This will help you more. See if you are planni...
3,5,Simply awesome,Really good actually this is my first apple pr...
4,4,Good quality product,it is very good at performance. Camera is best...
5,5,Very poor,Reviewing again after 5 months. At the beginni...
6,5,Perfect product!,"In love with this iphone great performance,cam..."
7,5,Fabulous!,Everything is perfect pictures come out so cle...
8,5,Highly recommended,"Amazing camera quality as expected, battery al..."

In [143]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [144]:
next_btn.click()

In [145]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

10

In [146]:
rating=[]
for i in mob_rating:
    rating.append(i.text)

    if len(rating)==10:
        break
    
rating

['5', '5', '5', '5', '4', '5', '5', '5', '5', '4']

In [147]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [148]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==10:
        break
    
review

['Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Just wow!',
 'Very Good',
 'Wonderful',
 'Just wow!',
 'Awesome',
 'Mind-blowing purchase',
 'Pretty good']

In [149]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [150]:
full_review=[]
        
    
for i in mob_fullreview:
    full_review.append(i.text)
    if len(full_review)==10:
        break
full_review

['First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I won’t stop praising the products and overall experience. That user experience matters and is worth every penny you pay.\n\nBelow ar...\nREAD MORE',
 'The ultimate performance\nCamera is superb\nThe battery backup also very good i never saw iphone gives this much of battery backup\nIf any one wana buy iphone 11 definitely i will recommend this mobile\nIt has the better battery and powerfull processer peak performance glorious camera and the display also 100% high quality lcd display if u had money for for 12 if u dont wana invest much money on that then go for iphone 11 it has maximum same specs only main difference between the 12 and 11 is...\nREAD MORE',
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Super and marvellous phone look very cute and nice sound. I love this phone i think white is good colur.Excellent camer 5*😍😘♥️♥️',
 'Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 'Excellent camera 📸 And Display touching very Nice And Smooth and very improvement against\nI phone 11 and new processor is very fast',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.']

In [151]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']=review
mob['Full Review']=full_review
mob

,Rating,Review Summary,Full Review
0,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
1,5,Wonderful,Superfast delivery by Flipkart. Thanks.\n\n1. ...
2,5,Must buy!,I rate this product 5* as it has got amazing u...
3,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
4,4,Very Good,impressive super phone and best in class camer...
5,5,Wonderful,Super and marvellous phone look very cute and ...
6,5,Just wow!,Best in class. Battery backup is good especial...
7,5,Awesome,Very excited to have this phone. This phone ha...
8,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
9,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

In [152]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [153]:
next_btn.click()

In [154]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

10

In [155]:
rating=[]
for i in mob_rating:
    rating.append(i.text)

    if len(rating)==10:
        break
    
rating

['5', '5', '5', '5', '5', '5', '3', '5', '5', '5']

In [156]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [157]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==10:
        break
    
review

['Terrific purchase',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Does the job',
 'Perfect product!',
 'Highly recommended',
 'Excellent']

In [158]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [159]:
full_review=[]
        
    
for i in mob_fullreview:
    full_review.append(i.text)
    if len(full_review)==10:
        break
full_review

['Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.\n\nAs for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.\n\nThe battery runs for a day with medium and high workload.\n\nThe display is good and the speakers are working fine.\n\nThe earphones doesn't have any base and you can use it for calling mostly.\n\nThe charging time is approximately for 90 minutes for full charging...\nREAD MORE",
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Thanks Flipkart For this amazing deal! I had a dream of owning a iphone since i had known about.\nIm very happy with my purchase & it is totally worth it.\nAmazing experience all over !!\n\nAnyone who’s thinking of buying it in 2021, i would simply say go for it without any second thoughts ❤️',
 'Its a fabulous mobile look awesome performance unbeaten camera like dslr battery good i think this is a beast of mobile']

In [160]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']=review
mob['Full Review']=full_review
mob

,Rating,Review Summary,Full Review
0,5,Terrific purchase,Its Very awesome product working and good came...
1,5,Classy product,Best and amazing product.....phone looks so pr...
2,5,Brilliant,Excellent camera and display touching very nic...
3,5,Terrific,I got this beast today. And I must say the pic...
4,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
5,5,Awesome,"Always love the apple products, upgraded from ..."
6,3,Does the job,phone is good but in display is 720p lcd in th...
7,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
8,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
9,5,Excellent,Its a fabulous mobile look awesome performance...

In [161]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [162]:
next_btn.click()

In [163]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

10

In [164]:
rating=[]
for i in mob_rating:
    rating.append(i.text)

    if len(rating)==10:
        break
    
rating

['5', '5', '4', '5', '5', '5', '4', '5', '5', '5']

In [165]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [166]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==10:
        break
    
review

['Brilliant',
 'Must buy!',
 'Value-for-money',
 'Best in the market!',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Terrific',
 'Best in the market!',
 'Perfect product!']

In [167]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [168]:
full_review=[]
        
    
for i in mob_fullreview:
    full_review.append(i.text)
    if len(full_review)==10:
        break
full_review

['A wort full value for money decision it’s . Simply go for it in 2021 its still a good decision . Awesome camera , Super smothered performance, Heck of build quality. And Most important it protects your privacy.',
 'Dear friends... I want to share my experience with you about this amazing I phone 11....this is my first iPhone and special things about this mobile is it has great camera, battery backup and awesome display.... I mean everything is perfect.loved it 👍👍👍',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'Amazing phone and on great deal I received with super fast delivery by Flipkart...',
 'finally an iPhone with very nice battery backup. update from iPhone 7 and happy to have it. camera is not up to the mark in low light but overall a recommended phone if your budget allows 😀',
 "I'm switching this phone to oppo reno 10x zoom\nIt's really impressive\nRarely I'm missing smooth display touch response like oppo reno but\nI really loved it.\nCamera really impressive",
 'Simply Awesome\n\nI have upgraded from iPhone 7 to iPhone 11.\n\n3110 mah Battery is good. I am not a heavy gamer. For official purpose, this is better than 12 mini.\n\nTotally impressed with battery performance.',
 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good',
 'Worth the money’ starting first from its performance it beats out all phones , second the smoothness of camera is awesome, contrast ratio is much than expected. Price will not matter if u r a quality person, if not other phones are available with better discount']

In [169]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']=review
mob['Full Review']=full_review
mob

,Rating,Review Summary,Full Review
0,5,Brilliant,A wort full value for money decision it’s . Si...
1,5,Must buy!,Dear friends... I want to share my experience ...
2,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
3,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
4,5,Brilliant,Amazing phone and on great deal I received wit...
5,5,Terrific purchase,finally an iPhone with very nice battery backu...
6,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
7,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
8,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
9,5,Perfect product!,Worth the money’ starting first from its perfo...

In [170]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [171]:
next_btn.click()

In [172]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

8

In [173]:
rating=[]
for i in mob_rating:
    rating.append(i.text)

    if len(rating)==10:
        break
    
rating

['5', '4', '5', '5', '5', '5', '5', '5']

In [174]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [175]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==8:
        break
    
review

['Absolute rubbish!',
 'Awesome',
 'Value-for-money',
 'Just wow!',
 'Worthless',
 'Super!',
 'Classy product',
 'Worth every penny']

In [176]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [177]:
full_review=[]
        
    
for i in mob_fullreview:
    full_review.append(i.text)
    if len(full_review)==8:
        break
full_review

['Worst product delivered by Flipkart\nAfter 10days of delivery mobile will not work properly\nVolume and silent buttons are not working.\nNo worth to buy in Flipkart.\nPlease don’t buy apple products in Flipkart',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Great iphone.\nI am writing this review after 2 months of usage.\nCamera is excellent, especially the nightmode\nDisplay perfect\nBattery backup awesome\nSound quality very good\nOverall Apple gives you a perfect iphone in this range.\nReally in love with iPhone 11',
 "Phone is awesome no doubt. But Camera & Display is not great. Performance is mind blowing.\nBut the phone is heating too much when charging or when you regularly used. It's experience after using 1 week. It's heating extrem when I play PUBG for 30 minutes.\nGo for iPhone 11 pro or 12. Otherwise go for Android phone you will get much better phone in less price.",
 'Did an upgrade from 6s plus to iphone 11.\nAo far the experience is well and good. Felt smoother than 6s plus. The camera quality is superb. Battery backup is descent. Not a heavy user, and gets power more than a day. Go for it if you need an alrounder iphone in a competitve price.',
 'Gifted my man on his 30th birthday 🎂 He loves it.. Him happy so i am more than happy 😍😘❤️🥰',
 "It is better to buy iPhone 11 over iPhone 12 if you prioritize the camera,Its because the difference isn’t significantly huge except lowlight performance and Go for 128 GB variant rather than 64 GB because the system data alone contains 20 GB of data .\nEven though it's 720p LCD display but it's better than todays Android's 1080p display. My phone was a 64GB mint green model and this one is really pretty especially in the real life. I can still get almost everything out of what i paid for at a...\nREAD MORE"]

In [178]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']=review
mob['Full Review']=full_review
mob

  Rating     Review Summary                                        Full Review
0      5  Absolute rubbish!  Worst product delivered by Flipkart\nAfter 10d...
1      4            Awesome  I dreamt about this day from a long time.... G...
2      5    Value-for-money  I'm Really happy with the product\nDelivery wa...
3      5          Just wow!  Great iphone.\nI am writing this review after ...
4      5          Worthless  Phone is awesome no doubt. But Camera & Displa...
5      5             Super!  Did an upgrade from 6s plus to iphone 11.\nAo ...
6      5     Classy product  Gifted my man on his 30th birthday 🎂 He loves ...
7      5  Worth every penny  It is better to buy iPhone 11 over iPhone 12 i...

In [179]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [180]:
next_btn.click()

In [181]:
mob_rating=driver.find_elements('xpath','//div[@class="_3LWZlK _1BLPMq"]')
len(mob_rating)

10

In [182]:
rating=[]
for i in mob_rating:
    rating.append(i.text)

    if len(rating)==10:
        break
    
rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [183]:
mob_review=driver.find_elements('xpath','//p[@class="_2-N8zT"]')
len(mob_review)

10

In [184]:
review=[]
for i in mob_review:
    review.append(i.text)
    if len(review)==10:
        break
    
review

['Excellent',
 'Excellent',
 'Terrific',
 'Excellent',
 'Worth every penny',
 'Super!',
 'Wonderful',
 'Best in the market!',
 'Mind-blowing purchase',
 'Worth every penny']

In [185]:
mob_fullreview=driver.find_elements('xpath','//div[@class="t-ZTKy"]')
len(mob_fullreview)

10

In [186]:
full_review=[]
        
    
for i in mob_fullreview:
    full_review.append(i.text)
    if len(full_review)==10:
        break
full_review

['A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 "It was amazing experience for me. Honestly i am using iPhone first time so I don't have that much past experience about that. But after using 7 days this mobile i want to give some honest feedback.\n1- Display 9 out of 10\n2- Camera 9.5 out of 10\n3- Battery 7 out of 10\n4- Performance 9.5 out of 10\n5- Features & Functions 10 out of 10\n6- Outer looks and colour 10 out of 10\nRest i think i will understand after using this for few months.\nI will highly recommend you guys if you have budget then you...\nREAD MORE",
 'I bought iPhone 11 On March 2021, And I am Writing this review after using the phone for 4 Months. I would Say Everything is fine, Top Performance, Nice Camera as Anyone would Expect from any series of iPhone but when the Question comes to Battery it is complicated. The Battery is fully optimised and it comes 3110 mAh capacity but the problem is with the charger. Honestly Apple Removed charger from in Box items in the name of Environment and they are also forcing us to buy any 20W PD 3rd part...\nREAD MORE',
 "Just go for it.\nThis phone is really amazing. I ordered it for my wife and we click photos on this thing which are better than dslr. I own OnePlus 6t but it's camera sucks. iPhone is really amazing when it comes to camera. It's worth spending 50k on this. Cons- only display is lcd. While using u don't feel it but if u compare with other phone then u can see difference quite easily.\nChanging from Android to iphone is bit difficult coz most of things u don't know but I liked it. Some of the a...\nREAD MORE",
 'Here is the thing\n\nThe only reason why you should buy this phone is for the camera, iOS, and if you have headaches looking at AMOLED display.\n\nI’m not an avid gamer but watch a lot of movies on smartphone. However, my migraine attacks increased considerably after using AMOLED Smartphone. That’s why I made a calculated decision to buy iPhone 11. It has the best LCD display and the blacks, though not as natural as an AMOLED, is better than some of the other smartphones.\n\nAdding to this the ste...\nREAD MORE',
 'This is my first ever iPhone.\nAnd I truly don’t regret switching to IOS from my Android.\n\nIt is easily an alternative to a DSLR camera.\nIf you’re obsessed with photos and videos, just don’t think twice or don’t compare to other androids(Samsung S10 lite or OnePlus 8/8T), as it’s far better from them in every field.\nComparing will only make you confused.\n\nI am getting an average Screen on Time of around 10 hours with 30 percent left. I haven’t let my device discharged below 30 % as it aff...\nREAD MORE',
 'Nice value for money good and best price I phone mind blowing camera processor very fast other android mobile I am happy India top selling phone 2020',
 'Don’t expect much from front camera… especially who loves beauty mode and filters.. back cameras are good…video department is always plus point in iPhones… battery capacity is really surprising lasts for one day at least… performance always good and smooth… speaker’s quality is good…built quality best and haptic feedback is enjoyable…\nNote : images are good after you edit',
 'Absolutely powerful gadget. Loved it’s look! Soo glassy and classy. I would definitely recommend this model of Apple. Only disappointed with the 5W charger, one should purchase an 18W adapter for fast charging. Though battery backup is great. Bought it in September 2020, reviewing after so long so I’m gonna put the genuine review here.✅',
 'Undoubtedly Iphone 11 is the most successful model till now and its performance is extraordinary and the security features are very impressive, display is more vibrant sound quality Camera Quality 5*****, but Iphone should add accessories too and act like scrooge.']

In [187]:
mob=pd.DataFrame()
mob['Rating']= rating
mob['Review Summary']=review
mob['Full Review']=full_review
mob

,Rating,Review Summary,Full Review
0,5,Excellent,A perfect phone and a good battery super camer...
1,5,Excellent,It was amazing experience for me. Honestly i a...
2,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
3,5,Excellent,Just go for it.\nThis phone is really amazing....
4,5,Worth every penny,Here is the thing\n\nThe only reason why you s...
5,5,Super!,This is my first ever iPhone.\nAnd I truly don...
6,5,Wonderful,Nice value for money good and best price I pho...
7,5,Best in the market!,Don’t expect much from front camera… especiall...
8,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
9,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...

In [188]:
#Q6
driver= webdriver.Chrome(r'C:\Users\sofiy\Downloads\chromedriver_win32 (1)\chromedriver.exe') #path of chrome driver location in the system.

In [193]:
url='https://www.flipkart.com/'
driver.get(url) #get the url page from where data must be scraped.

In [194]:
sneaker=driver.find_element("xpath", '//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')# giving xpath for search bar, where we give input as sneaker to be searched.
sneaker

In [195]:
sneaker.send_keys("sneaker") #we send value as sneaker, as an input to the search bar.

In [196]:
search_btn= driver.find_element('xpath','/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button') #to ensure that the search button is clicked after input sneaker is given.
search_btn

In [197]:
search_btn.click() #click(), will click the search button for us.

In [198]:
sneaker_brand=driver.find_elements('xpath','//div[@class="_2WkVRV"]') #class for brand name of the sneaker is provided here this path will help scrap data.
len(sneaker_brand)

40

In [199]:
brand=[] #empty list created for data to be stored after scrapping.
for i in sneaker_brand: #for loop to get the data from the page.
    brand.append(i.text)
    
len(brand) #check length of the list

40

In [200]:
brand #display scrapped data.

['aadi',
 'BUXBERRY',
 'PUMA',
 'Magnolia',
 'PUMA',
 'PUMA',
 'Numenzo',
 'HOTSTYLE',
 'Magnolia',
 'PUMA',
 'Magnolia',
 'fuoatieec',
 'PUMA',
 'ASTEROID',
 'Rzisbo',
 'RapidBox',
 'KILLER',
 'aadi',
 'PROVOGUE',
 'RapidBox',
 'Robbie jones',
 'BRUTON',
 'KWIK FIT',
 'Scull Wings',
 'TR',
 'ASTEROID',
 'URBANBOX',
 'Ardeo',
 'Noztile',
 'BRUTON',
 'WHITE WALKERS',
 'Frencho',
 'BRUTON',
 'PUMA',
 'AMICO',
 'KWIK FIT',
 'Robbie jones',
 'SPARX',
 'PUMA',
 'PROVOGUE']

In [201]:
desc=driver.find_elements('xpath','//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')#scraping description from the xpath
len(desc)

40

In [202]:
description=[] #creating empty list to store scrapped data.
for i in desc:
    description.append(i.text) # for loop to check that all required description is stored.
   
    
description

['Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Outdoor Trendy Lightweight Casual,Canvas Stylish Partyw...',
 'x KL Seattle Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'x KL Denver Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'x 1DER Rock V2 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Brave Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'GREEN SNEAKERS CASUAL SHOES CANVAS SHOES FOR MEN GREEN ...',
 'Casual White Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Sneakers For Men',
 'Casual Trendy Fashion Sport Sneaker Shoes Gym Running P...',
 'Sneakers For Men',
 '9019 Sneakers For Men',
 'x 1DER Rock V2 Sneakers For Men',
 'Sneakers For Men']

In [203]:
sneaker_price=driver.find_elements('xpath','//div[@class="_30jeq3"]') #providing the path for data scrapping.
len(sneaker_price)

40

In [204]:
price=[] #creating empty list for storing all prices scrapped. 
for i in sneaker_price:
    price.append(i.text)
    
len(price)#check len of the list.

40

In [205]:
price #display scrapped data.

['₹399',
 '₹449',
 '₹2,249',
 '₹374',
 '₹1,588',
 '₹1,679',
 '₹402',
 '₹197',
 '₹374',
 '₹1,889',
 '₹374',
 '₹499',
 '₹1,316',
 '₹474',
 '₹494',
 '₹630',
 '₹524',
 '₹399',
 '₹699',
 '₹630',
 '₹402',
 '₹349',
 '₹397',
 '₹496',
 '₹399',
 '₹474',
 '₹234',
 '₹499',
 '₹399',
 '₹399',
 '₹509',
 '₹599',
 '₹366',
 '₹1,539',
 '₹494',
 '₹499',
 '₹424',
 '₹1,189',
 '₹1,889',
 '₹676']

In [206]:
sneaker_discount=driver.find_elements('xpath','//div[@class="_3Ay6Sb"]') #providing xpath.
len(sneaker_discount)

40

In [207]:
discount=[] #creating empty list for storing scrapped data.

for i in sneaker_discount: #for loop to ensure all data is scrapped.
    discount.append(i.text.replace('0 %','').split())
  
    
discount #to check length of the list created

[['80%', 'off'],
 ['64%', 'off'],
 ['50%', 'off'],
 ['62%', 'off'],
 ['54%', 'off'],
 ['58%', 'off'],
 ['79%', 'off'],
 ['60%', 'off'],
 ['62%', 'off'],
 ['58%', 'off'],
 ['62%', 'off'],
 ['50%', 'off'],
 ['60%', 'off'],
 ['52%', 'off'],
 ['50%', 'off'],
 ['36%', 'off'],
 ['75%', 'off'],
 ['80%', 'off'],
 ['65%', 'off'],
 ['36%', 'off'],
 ['59%', 'off'],
 ['73%', 'off'],
 ['80%', 'off'],
 ['66%', 'off'],
 ['73%', 'off'],
 ['76%', 'off'],
 ['76%', 'off'],
 ['77%', 'off'],
 ['80%', 'off'],
 ['69%', 'off'],
 ['57%', 'off'],
 ['40%', 'off'],
 ['71%', 'off'],
 ['56%', 'off'],
 ['50%', 'off'],
 ['75%', 'off'],
 ['57%', 'off'],
 ['15%', 'off'],
 ['58%', 'off'],
 ['69%', 'off']]

In [208]:
sneaker=pd.DataFrame() #creating data frame to display all the scrapped data.
sneaker['Brand']= brand
sneaker['Product Description']=description # I tried to include it in DataFrame, but on the website product description was not scrapped for 6 products randomly. 
sneaker['Price']=price
sneaker['Discount']=discount
sneaker #displaying dataframe.

,Brand,Product Description,Price,Discount
0,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹399,"[80%, off]"
1,BUXBERRY,"Outdoor Trendy Lightweight Casual,Canvas Styli...",₹449,"[64%, off]"
2,PUMA,x KL Seattle Sneakers For Men,"₹2,249","[50%, off]"
3,Magnolia,Sneakers For Men,₹374,"[62%, off]"
4,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,588","[54%, off]"
5,PUMA,x KL Denver Sneakers For Men,"₹1,679","[58%, off]"
6,Numenzo,411 Casual Sneakers For Men,₹402,"[79%, off]"
7,HOTSTYLE,Sneakers For Men,₹197,"[60%, off]"
8,Magnolia,Sneakers For Men,₹374,"[62%, off]"
9,PUMA,x 1DER Rock V2 Sneakers For Men,"₹1,889","[58%, off]"
10,Magnolia,Sneakers For Men,₹374,"[62%, off]"
11,fuoatieec,Sneakers For Men,₹499,"[50%, off]"
12,PUMA,Brave Sneakers For Men,"₹1,316","[60%, off]"
13,ASTEROID,Original Luxury Branded Black Fancy Casual Wal...,₹474,"[52%, off]"
14,Rzisbo,Sneakers For Men,₹494,"[50%, off]"
15,RapidBox,Sneakers For Men,₹630,"[36%, off]"
16,KILLER,Sneakers For Men,₹524,"[75%, off]"
17,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹399,"[80%, off]"
18,PROVOGUE,Sneakers For Men,₹699,"[65%, off]"
19,RapidBox,Sneakers For Men,₹630,"[36%, off]"
20,Robbie jones,Sneakers For Men,₹402,"[59%, off]"
21,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹349,"[73%, off]"
22,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹397,"[80%, off]"
23,Scull Wings,GREEN SNEAKERS CASUAL SHOES CANVAS SHOES FOR M...,₹496,"[66%, off]"
24,TR,Casual White Sneakers For Men,₹399,"[73%, off]"
25,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹474,"[76%, off]"
26,URBANBOX,Sneakers Sneakers For Men,₹234,"[76%, off]"
27,Ardeo,Sneakers For Men,₹499,"[77%, off]"
28,Noztile,Sneakers For Men,₹399,"[80%, off]"
29,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹399,"[69%, off]"
30,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹509,"[57%, off]"
31,Frencho,Sneakers For Men,₹599,"[40%, off]"
32,BRUTON,Lattest Sneakers Shoe Sneakers For Men,₹366,"[71%, off]"
33,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,539","[56%, off]"
34,AMICO,Sneakers For Men,₹494,"[50%, off]"
35,KWIK FIT,Casual Trendy Fashion Sport Sneaker Shoes Gym ...,₹499,"[75%, off]"
36,Robbie jones,Sneakers For Men,₹424,"[57%, off]"
37,SPARX,9019 Sneakers For Men,"₹1,189","[15%, off]"
38,PUMA,x 1DER Rock V2 Sneakers For Men,"₹1,889","[58%, off]"
39,PROVOGUE,Sneakers For Men,₹676,"[69%, off]"

In [209]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn

In [210]:
next_btn.click()

In [211]:
sneaker_brand=driver.find_elements('xpath','//div[@class="_2WkVRV"]') #class for brand name of the sneaker is provided here this path will help scrap data.
len(sneaker_brand)

40

In [212]:
brand=[] #empty list created for data to be stored after scrapping.
for i in sneaker_brand: #for loop to get the data from the page.
    brand.append(i.text)
    
brand #check length of the list

['aadi',
 'BUXBERRY',
 'PUMA',
 'Magnolia',
 'PUMA',
 'PUMA',
 'Numenzo',
 'HOTSTYLE',
 'Magnolia',
 'PUMA',
 'Magnolia',
 'fuoatieec',
 'PUMA',
 'ASTEROID',
 'Rzisbo',
 'RapidBox',
 'KILLER',
 'aadi',
 'PROVOGUE',
 'RapidBox',
 'Robbie jones',
 'BRUTON',
 'KWIK FIT',
 'Scull Wings',
 'TR',
 'ASTEROID',
 'URBANBOX',
 'Ardeo',
 'Noztile',
 'BRUTON',
 'WHITE WALKERS',
 'Frencho',
 'BRUTON',
 'PUMA',
 'AMICO',
 'KWIK FIT',
 'Robbie jones',
 'SPARX',
 'PUMA',
 'PROVOGUE']

In [213]:
desc=driver.find_elements('xpath','//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')#scraping description from the xpath
len(desc)

40

In [214]:
description=[] #creating empty list to store scrapped data.
for i in desc:
    description.append(i.text) # for loop to check that all required description is stored.
   
    
description

['Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Outdoor Trendy Lightweight Casual,Canvas Stylish Partyw...',
 'x KL Seattle Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'x KL Denver Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'x 1DER Rock V2 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Brave Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'GREEN SNEAKERS CASUAL SHOES CANVAS SHOES FOR MEN GREEN ...',
 'Casual White Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Sneakers For Men',
 'Casual Trendy Fashion Sport Sneaker Shoes Gym Running P...',
 'Sneakers For Men',
 '9019 Sneakers For Men',
 'x 1DER Rock V2 Sneakers For Men',
 'Sneakers For Men']

In [215]:
sneaker_price=driver.find_elements('xpath','//div[@class="_30jeq3"]') #providing the path for data scrapping.
len(sneaker_price)

40

In [216]:
price=[] #creating empty list for storing all prices scrapped. 
for i in sneaker_price:
    price.append(i.text)
    
len(price)#check len of the list.

40

In [217]:
price

['₹399',
 '₹449',
 '₹2,249',
 '₹374',
 '₹1,588',
 '₹1,679',
 '₹402',
 '₹197',
 '₹374',
 '₹1,889',
 '₹374',
 '₹499',
 '₹1,316',
 '₹474',
 '₹494',
 '₹630',
 '₹524',
 '₹399',
 '₹699',
 '₹630',
 '₹402',
 '₹349',
 '₹397',
 '₹496',
 '₹399',
 '₹474',
 '₹234',
 '₹499',
 '₹399',
 '₹399',
 '₹509',
 '₹599',
 '₹366',
 '₹1,539',
 '₹494',
 '₹499',
 '₹424',
 '₹1,189',
 '₹1,889',
 '₹676']

In [218]:
sneaker_discount=driver.find_elements('xpath','//div[@class="_3Ay6Sb"]') #providing xpath.
len(sneaker_discount)

40

In [221]:
discount=[] #creating empty list for storing scrapped data.

for i in sneaker_discount: #for loop to ensure all data is scrapped.
    discount.append(i.text.replace('0 %','').split())
  
    

(discount) #to check length of the list created

[['80%', 'off'],
 ['64%', 'off'],
 ['50%', 'off'],
 ['62%', 'off'],
 ['54%', 'off'],
 ['58%', 'off'],
 ['79%', 'off'],
 ['60%', 'off'],
 ['62%', 'off'],
 ['58%', 'off'],
 ['62%', 'off'],
 ['50%', 'off'],
 ['60%', 'off'],
 ['52%', 'off'],
 ['50%', 'off'],
 ['36%', 'off'],
 ['75%', 'off'],
 ['80%', 'off'],
 ['65%', 'off'],
 ['36%', 'off'],
 ['59%', 'off'],
 ['73%', 'off'],
 ['80%', 'off'],
 ['66%', 'off'],
 ['73%', 'off'],
 ['76%', 'off'],
 ['76%', 'off'],
 ['77%', 'off'],
 ['80%', 'off'],
 ['69%', 'off'],
 ['57%', 'off'],
 ['40%', 'off'],
 ['71%', 'off'],
 ['56%', 'off'],
 ['50%', 'off'],
 ['75%', 'off'],
 ['57%', 'off'],
 ['15%', 'off'],
 ['58%', 'off'],
 ['69%', 'off']]

In [222]:
sneaker=pd.DataFrame() #creating data frame to display all the scrapped data.
sneaker['Brand']= brand
sneaker['Product Description']=description # I tried to include it in DataFrame, but on the website product description was not scrapped for 6 products randomly. 
sneaker['Price']=price
sneaker['Discount']=discount
sneaker #displaying dataframe.

,Brand,Product Description,Price,Discount
0,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹399,"[80%, off]"
1,BUXBERRY,"Outdoor Trendy Lightweight Casual,Canvas Styli...",₹449,"[64%, off]"
2,PUMA,x KL Seattle Sneakers For Men,"₹2,249","[50%, off]"
3,Magnolia,Sneakers For Men,₹374,"[62%, off]"
4,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,588","[54%, off]"
5,PUMA,x KL Denver Sneakers For Men,"₹1,679","[58%, off]"
6,Numenzo,411 Casual Sneakers For Men,₹402,"[79%, off]"
7,HOTSTYLE,Sneakers For Men,₹197,"[60%, off]"
8,Magnolia,Sneakers For Men,₹374,"[62%, off]"
9,PUMA,x 1DER Rock V2 Sneakers For Men,"₹1,889","[58%, off]"
10,Magnolia,Sneakers For Men,₹374,"[62%, off]"
11,fuoatieec,Sneakers For Men,₹499,"[50%, off]"
12,PUMA,Brave Sneakers For Men,"₹1,316","[60%, off]"
13,ASTEROID,Original Luxury Branded Black Fancy Casual Wal...,₹474,"[52%, off]"
14,Rzisbo,Sneakers For Men,₹494,"[50%, off]"
15,RapidBox,Sneakers For Men,₹630,"[36%, off]"
16,KILLER,Sneakers For Men,₹524,"[75%, off]"
17,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹399,"[80%, off]"
18,PROVOGUE,Sneakers For Men,₹699,"[65%, off]"
19,RapidBox,Sneakers For Men,₹630,"[36%, off]"
20,Robbie jones,Sneakers For Men,₹402,"[59%, off]"
21,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹349,"[73%, off]"
22,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹397,"[80%, off]"
23,Scull Wings,GREEN SNEAKERS CASUAL SHOES CANVAS SHOES FOR M...,₹496,"[66%, off]"
24,TR,Casual White Sneakers For Men,₹399,"[73%, off]"
25,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹474,"[76%, off]"
26,URBANBOX,Sneakers Sneakers For Men,₹234,"[76%, off]"
27,Ardeo,Sneakers For Men,₹499,"[77%, off]"
28,Noztile,Sneakers For Men,₹399,"[80%, off]"
29,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹399,"[69%, off]"
30,WHITE WALKERS,Stylish & Trending Outdoor Walking Comfortable...,₹509,"[57%, off]"
31,Frencho,Sneakers For Men,₹599,"[40%, off]"
32,BRUTON,Lattest Sneakers Shoe Sneakers For Men,₹366,"[71%, off]"
33,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,539","[56%, off]"
34,AMICO,Sneakers For Men,₹494,"[50%, off]"
35,KWIK FIT,Casual Trendy Fashion Sport Sneaker Shoes Gym ...,₹499,"[75%, off]"
36,Robbie jones,Sneakers For Men,₹424,"[57%, off]"
37,SPARX,9019 Sneakers For Men,"₹1,189","[15%, off]"
38,PUMA,x 1DER Rock V2 Sneakers For Men,"₹1,889","[58%, off]"
39,PROVOGUE,Sneakers For Men,₹676,"[69%, off]"

In [223]:
next_btn= driver.find_element('xpath','/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn

In [224]:
next_btn.click()

In [225]:
sneaker_brand=driver.find_elements('xpath','//div[@class="_2WkVRV"]') #class for brand name of the sneaker is provided here this path will help scrap data.
len(sneaker_brand)

40

In [226]:
brand=[] #empty list created for data to be stored after scrapping.
for i in sneaker_brand: #for loop to get the data from the page.
    brand.append(i.text)
    if len(brand)==20:
        break
    
brand #check length of the list

['aadi',
 'BUXBERRY',
 'PUMA',
 'Magnolia',
 'PUMA',
 'PUMA',
 'Numenzo',
 'HOTSTYLE',
 'Magnolia',
 'PUMA',
 'Magnolia',
 'fuoatieec',
 'PUMA',
 'ASTEROID',
 'Rzisbo',
 'RapidBox',
 'KILLER',
 'aadi',
 'PROVOGUE',
 'RapidBox']

In [227]:
desc=driver.find_elements('xpath','//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')#scraping description from the xpath
len(desc)

40

In [228]:
description=[] #creating empty list to store scrapped data.
for i in desc:
    description.append(i.text) # for loop to check that all required description is stored.
    if len(description)==20:
        break
   
    
description

['Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Outdoor Trendy Lightweight Casual,Canvas Stylish Partyw...',
 'x KL Seattle Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'x KL Denver Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'x 1DER Rock V2 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Brave Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Sneakers For Men',
 'Sneakers For Men']

In [229]:
sneaker_price=driver.find_elements('xpath','//div[@class="_30jeq3"]') #providing the path for data scrapping.
len(sneaker_price)

40

In [230]:
price=[] #creating empty list for storing all prices scrapped. 
for i in sneaker_price:
    price.append(i.text)
    if len(price)==20:
        break
    
len(price)#check len of the list.

20

In [231]:
price

['₹399',
 '₹449',
 '₹2,249',
 '₹374',
 '₹1,588',
 '₹1,679',
 '₹402',
 '₹197',
 '₹374',
 '₹1,889',
 '₹374',
 '₹499',
 '₹1,316',
 '₹474',
 '₹494',
 '₹630',
 '₹524',
 '₹399',
 '₹699',
 '₹630']

In [232]:
sneaker_discount=driver.find_elements('xpath','//div[@class="_3Ay6Sb"]') #providing xpath.
len(sneaker_discount)

40

In [233]:
discount=[] #creating empty list for storing scrapped data.

for i in sneaker_discount: #for loop to ensure all data is scrapped.
    discount.append(i.text.replace('0 %','').split())
    if len(discount)==19:
        break
  
    
discount.insert(6,'0%')
len(discount) #to check length of the list created

20

In [236]:
discount

[['80%', 'off'],
 ['64%', 'off'],
 ['50%', 'off'],
 ['62%', 'off'],
 ['54%', 'off'],
 ['58%', 'off'],
 '0%',
 ['79%', 'off'],
 ['60%', 'off'],
 ['62%', 'off'],
 ['58%', 'off'],
 ['62%', 'off'],
 ['50%', 'off'],
 ['60%', 'off'],
 ['52%', 'off'],
 ['50%', 'off'],
 ['36%', 'off'],
 ['75%', 'off'],
 ['80%', 'off'],
 ['65%', 'off']]

In [237]:
sneaker=pd.DataFrame() #creating data frame to display all the scrapped data.
sneaker['Brand']= brand
sneaker['Product Description']=description # I tried to include it in DataFrame, but on the website product description was not scrapped for 6 products randomly. 
sneaker['Price']=price
sneaker['Discount']=discount
sneaker #displaying dataframe.

,Brand,Product Description,Price,Discount
0,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹399,"[80%, off]"
1,BUXBERRY,"Outdoor Trendy Lightweight Casual,Canvas Styli...",₹449,"[64%, off]"
2,PUMA,x KL Seattle Sneakers For Men,"₹2,249","[50%, off]"
3,Magnolia,Sneakers For Men,₹374,"[62%, off]"
4,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,588","[54%, off]"
5,PUMA,x KL Denver Sneakers For Men,"₹1,679","[58%, off]"
6,Numenzo,411 Casual Sneakers For Men,₹402,0%
7,HOTSTYLE,Sneakers For Men,₹197,"[79%, off]"
8,Magnolia,Sneakers For Men,₹374,"[60%, off]"
9,PUMA,x 1DER Rock V2 Sneakers For Men,"₹1,889","[62%, off]"
10,Magnolia,Sneakers For Men,₹374,"[58%, off]"
11,fuoatieec,Sneakers For Men,₹499,"[62%, off]"
12,PUMA,Brave Sneakers For Men,"₹1,316","[50%, off]"
13,ASTEROID,Original Luxury Branded Black Fancy Casual Wal...,₹474,"[60%, off]"
14,Rzisbo,Sneakers For Men,₹494,"[52%, off]"
15,RapidBox,Sneakers For Men,₹630,"[50%, off]"
16,KILLER,Sneakers For Men,₹524,"[36%, off]"
17,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹399,"[75%, off]"
18,PROVOGUE,Sneakers For Men,₹699,"[80%, off]"
19,RapidBox,Sneakers For Men,₹630,"[65%, off]"

In [240]:
#Q8
driver= webdriver.Chrome(r'C:\Users\sofiy\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [242]:
url='https://www.amazon.in/'
driver.get(url)

In [243]:
search_bar=driver.find_element('xpath','//*[@id="twotabsearchtextbox"]')
search_bar

In [244]:
search_bar.send_keys("Laptop")

In [245]:
search_btn= driver.find_element('xpath','/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [246]:
search_btn.click()

In [247]:
filter_b= driver.find_element('xpath','/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[14]/span/a/div/label/i')
filter_b

In [248]:
filter_b.click()

In [249]:
laptop_name=driver.find_elements('xpath','//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(laptop_name)

24

In [250]:
title=[]
for i in laptop_name:
    title.append(i.text)
    if len(title)==10:
        break
    
title

['Dell Inspiron 3521 Laptop, Intel PQC-N5030, Win 11 + MSO\'21, 8Gb GDDR4, 256Gb SSD, 15.6" (39.62Cms) HD Anti-Glare (D560756Win9Be, 1.61Kgs)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD, Intel Pentium Silver N6000 Quad Core, Thin and Light Laptop (8GB/256GB SSD/Office 2021/Windows 11/Integrated Graphics/Silver/1.5 kg), X415KA-BV121WS',
 'Acer Extensa 15 Thin & Light Intel Processor Pentium Silver N5030 15.6 inches ( 39 cm ) Business Laptop (4GB RAM/256 GB SSD/Windows 11 Home/Black/1.9 Kg, EX215-31)',
 'Hp 14S-Intel Pentium Silver N6000- 8Gb Ram/256Gb Ssd 14 Inches (35.6Cm) Hd, Micro-Edge Display (Uhd Graphics/Alexa/Dual Speakers/Fast Charge/Windows 11 Home/Ms Office), 14S- Dq3033Tu,Jet Black',
 'Acer Travelmate Business Laptop Intel Pentium N5030 Quad-core Processor ( 4GB DDR4/ 128GB SSD /UHD Graphics/ Windows 11 Home/Spill Resistant Keyboard) TMB311-31 with 29.4 cm (11.6 Inches) HD Display',
 'Acer Aspire 3 Laptop (Made in India) A314-35 35.56 cm (14-Inch) HD Display (Intel Pentium Silver Quad -Core Processor N6000 | Windows 11 Home | 8 GB | 256GB SSD | Weight : 1.45 Kg| Silver',
 'Microsoft Surface GO 3 8VA-00013 10.5" (26.67 cms) Laptop (Intel Pentium T6600 Processor/8GB/128GB SSD/Windows 11 Home), Platinum',
 'HP 15 Intel Pentium Gold 6405U Processor Entry Level 39.62 cms(15.6-inch) FHD Laptop (4GB/1TB/Win 10/Jet Black/1.74kg), 15s-du1052tu',
 'Acer Aspire 3 Laptop (Made in India) A314-35 35.56 cm (14-Inch) HD Display (Intel Pentium Silver Quad -Core Processor N6000 | Windows 11 Home | 4 GB | 256GB SSD | Weight : 1.45 Kg| Silver',
 'ASUS Intel Pentium Quad Core 15.6 inches Business Laptop (4 GB/1 TB HDD/1366 X 768 HD/Windows 10 Home) Transparent Silver, 1.9 kg - X543MA-GQ1020T']

In [251]:
laptop_rating=driver.find_elements('xpath','//div[@class="a-row a-size-small"]')
len(laptop_rating)

20

In [252]:
rating=[]
for i in laptop_rating:
    rating.append(i.text.split())
    if len(rating)==10:
        break
    
rating

[['89'],
 ['40'],
 ['249'],
 ['13'],
 ['25'],
 ['42'],
 ['1,029'],
 ['36'],
 ['110'],
 ['4']]

In [253]:
laptop_price=driver.find_elements('xpath','//span[@class="a-price-whole"]')
len(laptop_price)

20

In [254]:
price=[]
for i in laptop_price:
    price.append(i.text.split())
    if len(price)==10:
        break
    
price

[['33,390'],
 ['29,990'],
 ['27,990'],
 ['31,638'],
 ['28,990'],
 ['28,990'],
 ['49,936'],
 ['26,990'],
 ['26,490'],
 ['30,300']]

In [255]:
laptop=pd.DataFrame()
laptop['Title']= title
laptop['Rating']=rating
laptop['Price']=price
laptop

                                               Title   Rating     Price
0  Dell Inspiron 3521 Laptop, Intel PQC-N5030, Wi...     [89]  [33,390]
1  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...     [40]  [29,990]
2  Acer Extensa 15 Thin & Light Intel Processor P...    [249]  [27,990]
3  Hp 14S-Intel Pentium Silver N6000- 8Gb Ram/256...     [13]  [31,638]
4  Acer Travelmate Business Laptop Intel Pentium ...     [25]  [28,990]
5  Acer Aspire 3 Laptop (Made in India) A314-35 3...     [42]  [28,990]
6  Microsoft Surface GO 3 8VA-00013 10.5" (26.67 ...  [1,029]  [49,936]
7  HP 15 Intel Pentium Gold 6405U Processor Entry...     [36]  [26,990]
8  Acer Aspire 3 Laptop (Made in India) A314-35 3...    [110]  [26,490]
9  ASUS Intel Pentium Quad Core 15.6 inches Busin...      [4]  [30,300]

In [256]:
#Q9
driver= webdriver.Chrome(r'C:\Users\sofiy\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [257]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [259]:
search_job=driver.find_element('xpath','//*[@id="headerWrapper"]/nav[2]/div/ul/li[5]/a')
search_job

In [260]:
search_job.click()

In [261]:
search_bar=driver.find_element('xpath','//*[@id="jobs-typeahead"]/span/input')
search_bar

In [262]:
search_bar.send_keys("Data Scientist")

In [263]:
search_btn= driver.find_element('xpath','/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_btn

In [264]:
search_btn.click()

In [265]:
search_btn= driver.find_element('xpath','/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search_btn

In [266]:
search_btn.click()

In [267]:
search_loc=driver.find_element('xpath','//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
search_loc

In [268]:
search_loc.send_keys("Noida")

In [269]:
search_loc=driver.find_element('xpath','//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search_loc

In [270]:
search_loc.click()

In [271]:
job_name=driver.find_elements('xpath','//a[@class="title noclick"]')
len(job_name)

10

In [272]:
name=[]
for i in job_name:
    name.append(i.text)
    if len(name)==10:
        break
    
name

['Senior Data Scientist',
 'Data Scientist Intern',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'Data Scientist - NLP',
 'Data Science Trainer | AI | Machine Learning | Python |']

In [273]:
job_company=driver.find_elements('xpath','//p[@class="company body-medium"]')
len(job_company)

10

In [274]:
company=[]
for i in job_company:
    company.append(i.text)
    if len(company)==10:
        break
    
company

['Optum Global Solutions (India) Private Limited',
 'CARE HEALTH INSURANCE LIMITED',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'Latent bridge',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'CRMnext',
 'Careerera']

In [275]:
job_rating=driver.find_elements('xpath','//span[@class="body-small"]')
len(job_rating)

10

In [276]:
rating=[]
for i in job_rating:
    rating.append(i.text.split())
    if len(rating)==10:
        break
    
rating

[['4.1'],
 ['4.0'],
 ['4.0'],
 ['4.3'],
 ['4.5'],
 ['3.9'],
 ['3.9'],
 ['3.9'],
 ['4.1'],
 ['3.8']]

In [277]:
job=pd.DataFrame()
job['Job Title']= name
job['Company']=company
job['Job Rating']=rating
job

,Job Title,Company,Job Rating
0,Senior Data Scientist,Optum Global Solutions (India) Private Limited,[4.1]
1,Data Scientist Intern,CARE HEALTH INSURANCE LIMITED,[4.0]
2,Data Scientist- Forecasting and R or Python,GENPACT India Private Limited,[4.0]
3,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,[4.3]
4,LatentBridge - Data Scientist - Python/R (2-6 ...,Latent bridge,[4.5]
5,Data Scientist - Machine Learning/Big Data (0-...,InfoEdge India Ltd.,[3.9]
6,Info Edge - Data Scientist - Machine Learning/...,Info Edge India Limited,[3.9]
7,Info Edge - Senior Data Scientist - Machine Le...,Info Edge India Limited,[3.9]
8,Data Scientist - NLP,CRMnext,[4.1]
9,Data Science Trainer | AI | Machine Learning |...,Careerera,[3.8]